In [22]:
x=[]#Empty
x=list()#empty
print(type(x),x)
y=[1,2,3,4,5]# Direct Initialization
print(y)
fruits=[]
fruits.append('Apple')
fruits.append('Banana')
fruits.append('Mango')
print(fruits)
x=[1,2,3]
y=[4,5,6]
z=x+y #Concatinate list
print(z)
#list of Duplicates
a=[1]*10
print(a)
b=[1,2]*5
print(b)
c=a*2
print(a)
print(c)
#Displaying
print(a)
#displaying Single item at a time
for item in a:
    print(item,end="")
#single element using index
print(fruits[0])
print(fruits[1],fruits[2])

<class 'list'> []
[1, 2, 3, 4, 5]
['Apple', 'Banana', 'Mango']
[1, 2, 3, 4, 5, 6]
[1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
[1, 2, 1, 2, 1, 2, 1, 2, 1, 2]
[1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
[1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
1111111111Apple
Banana Mango

In [25]:
students=["Bhargav","Sameer","Yaswanth","Vamsi","Ram","Ajay","Balaji","Abhi","Ruhi","Varsha","Sumithra","Jyoshna","Meghana","Anjali","Sirisha","Sahiti","Geetha"]
print(students)
print(students[9])
students.append("Sampath")
print(students)
students.pop(4)
print(students)

['Bhargav', 'Sameer', 'Yaswanth', 'Vamsi', 'Ram', 'Ajay', 'Balaji', 'Abhi', 'Ruhi', 'Varsha', 'Sumithra', 'Jyoshna', 'Meghana', 'Anjali', 'Sirisha', 'Sahiti', 'Geetha']
Varsha
['Bhargav', 'Sameer', 'Yaswanth', 'Vamsi', 'Ram', 'Ajay', 'Balaji', 'Abhi', 'Ruhi', 'Varsha', 'Sumithra', 'Jyoshna', 'Meghana', 'Anjali', 'Sirisha', 'Sahiti', 'Geetha', 'Sampath']
['Bhargav', 'Sameer', 'Yaswanth', 'Vamsi', 'Ajay', 'Balaji', 'Abhi', 'Ruhi', 'Varsha', 'Sumithra', 'Jyoshna', 'Meghana', 'Anjali', 'Sirisha', 'Sahiti', 'Geetha', 'Sampath']

Append-> By this mmethod we can add item in the end of the list.
         At the time we can add only one item.
         It is not work without list.

In [2]:
books=[]
books.append("The Way of Kings")
print(books)    
books.append("The Name of the Wind")
books.append("The Final Empire")
books.append("The Hero of Ages")
books.append("The Well of Ascension")   
print(books)

['The Way of Kings']
['The Way of Kings', 'The Name of the Wind', 'The Final Empire', 'The Hero of Ages', 'The Well of Ascension']

Extend()-> Extend method is used to add more than one item to the list
        -> We can combine two different Lists

In [6]:
colors=["Red","Green","Blue","Yellow"]
colors.extend(["Black","White"])
print(colors)
colors1=["Cyan","Magenta","Pink"]
colors.extend(colors1)
print(colors)

['Red', 'Green', 'Blue', 'Yellow', 'Black', 'White']
['Red', 'Green', 'Blue', 'Yellow', 'Black', 'White', 'Cyan', 'Magenta', 'Pink']

In [7]:
a=[]
for i in range(1,11):
    a.append(i)
print(a)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [11]:
movies=[]
for i in range(6):
    movie=input("Enter the movie name:")
    movies.append(movie)
print(movies)

['eer', 'rre', 'fds', 'fds', 'ffd', 'gcf']

Insert()-> Insert function is used to insert a item whereever we want by index value 
syntax->x.insert(0,1)
x-> list name

In [16]:
x=[1,5,10]
x.insert(0,6)
print(x)

[6, 1, 5, 10]