In [22]:
x=[]#Empty
x=list()#empty
print(type(x),x)
y=[1,2,3,4,5]# Direct Initialization
print(y)
fruits=[]
fruits.append('Apple')
fruits.append('Banana')
fruits.append('Mango')
print(fruits)
x=[1,2,3]
y=[4,5,6]
z=x+y #Concatinate list
print(z)
#list of Duplicates
a=[1]*10
print(a)
b=[1,2]*5
print(b)
c=a*2
print(a)
print(c)
#Displaying
print(a)
#displaying Single item at a time
for item in a:
    print(item,end="")
#single element using index
print(fruits[0])
print(fruits[1],fruits[2])

<class 'list'> []
[1, 2, 3, 4, 5]
['Apple', 'Banana', 'Mango']
[1, 2, 3, 4, 5, 6]
[1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
[1, 2, 1, 2, 1, 2, 1, 2, 1, 2]
[1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
[1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
1111111111Apple
Banana Mango

In [25]:
students=["Bhargav","Sameer","Yaswanth","Vamsi","Ram","Ajay","Balaji","Abhi","Ruhi","Varsha","Sumithra","Jyoshna","Meghana","Anjali","Sirisha","Sahiti","Geetha"]
print(students)
print(students[9])
students.append("Sampath")
print(students)
students.pop(4)
print(students)

['Bhargav', 'Sameer', 'Yaswanth', 'Vamsi', 'Ram', 'Ajay', 'Balaji', 'Abhi', 'Ruhi', 'Varsha', 'Sumithra', 'Jyoshna', 'Meghana', 'Anjali', 'Sirisha', 'Sahiti', 'Geetha']
Varsha
['Bhargav', 'Sameer', 'Yaswanth', 'Vamsi', 'Ram', 'Ajay', 'Balaji', 'Abhi', 'Ruhi', 'Varsha', 'Sumithra', 'Jyoshna', 'Meghana', 'Anjali', 'Sirisha', 'Sahiti', 'Geetha', 'Sampath']
['Bhargav', 'Sameer', 'Yaswanth', 'Vamsi', 'Ajay', 'Balaji', 'Abhi', 'Ruhi', 'Varsha', 'Sumithra', 'Jyoshna', 'Meghana', 'Anjali', 'Sirisha', 'Sahiti', 'Geetha', 'Sampath']

Append-> By this mmethod we can add item in the end of the list.
         At the time we can add only one item.
         It is not work without list.

In [2]:
books=[]
books.append("The Way of Kings")
print(books)    
books.append("The Name of the Wind")
books.append("The Final Empire")
books.append("The Hero of Ages")
books.append("The Well of Ascension")   
print(books)

['The Way of Kings']
['The Way of Kings', 'The Name of the Wind', 'The Final Empire', 'The Hero of Ages', 'The Well of Ascension']

Extend()-> Extend method is used to add more than one item to the list
        -> We can combine two different Lists

In [6]:
colors=["Red","Green","Blue","Yellow"]
colors.extend(["Black","White"])
print(colors)
colors1=["Cyan","Magenta","Pink"]
colors.extend(colors1)
print(colors)

['Red', 'Green', 'Blue', 'Yellow', 'Black', 'White']
['Red', 'Green', 'Blue', 'Yellow', 'Black', 'White', 'Cyan', 'Magenta', 'Pink']

In [7]:
a=[]
for i in range(1,11):
    a.append(i)
print(a)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [11]:
movies=[]
for i in range(6):
    movie=input("Enter the movie name:")
    movies.append(movie)
print(movies)

['eer', 'rre', 'fds', 'fds', 'ffd', 'gcf']

Insert()-> Insert function is used to insert a item whereever we want by index value 
syntax->x.insert(0,1)
x-> list name

In [16]:
x=[1,5,10]
x.insert(0,6)
print(x)

[6, 1, 5, 10]

Adding Elements
-------------------
append()->add one element to the end of the list
insert()->add one element to a specific position
extend()->append multiple items in a list

removing Elements
-----------------
pop()->remove and return an element from an index

remove()->remove the first occurance value

clear()->remove all elements from the list

In [2]:
x=[1,5,10]
x.remove(5)
print(x)

[1, 10]

In [3]:
x=[1,5,10]
x.pop(0)
print(x)

[5, 10]

In [4]:
x=[1,5,10]
x.clear()
print(x)

[]

In [6]:
x=[1,5,10,2,3,6,1,8]
x.sort()
print(x)

[1, 1, 2, 3, 5, 6, 8, 10]

In [18]:
books=[" Way of Kings"," Name of the Wind"," Final Empire"," Hero of Ages","Well of Ascension",
       "wind and truth","King of thrones","Game of thrones","House of the Dragon","OathBringer"]
print('How many Books In the list :',len(books))

books.remove("Game of thrones")
print(books)

How many Books In the list : 10
[' Way of Kings', ' Name of the Wind', ' Final Empire', ' Hero of Ages', 'Well of Ascension', 'wind and truth', 'King of thrones', 'House of the Dragon', 'OathBringer']

In [21]:
if "Name of the Wind" in books:
    books.remove("Name of the Wind")
print(books)

[' Way of Kings', ' Name of the Wind', ' Final Empire', ' Hero of Ages', 'Well of Ascension', 'wind and truth', 'King of thrones', 'House of the Dragon', 'OathBringer']

In [22]:
print(books)

[' Way of Kings', ' Name of the Wind', ' Final Empire', ' Hero of Ages', 'Well of Ascension', 'wind and truth', 'King of thrones', 'House of the Dragon', 'OathBringer']

In [26]:
books.pop(2)

' Hero of Ages'

In [28]:
books.pop()

'OathBringer'

In [29]:
print(len(books))

6

In [38]:
languages=["Python","Java","C","C++","JavaScript","Ruby","Go","Swift","Kotlin","PHP"]
numbers=[1,4,2,3,5,78,9,65,3,5,77,12,87,24,4,8,43,78,78,57,432,235,7]
data=[1,"banana",'apple',65,"carraot"]

print(languages)
print(numbers)
print(data)
print(len(languages))
print(len(numbers))
print(len(data))
#print(numbers.count(78))

['Python', 'Java', 'C', 'C++', 'JavaScript', 'Ruby', 'Go', 'Swift', 'Kotlin', 'PHP']
[1, 4, 2, 3, 5, 78, 9, 65, 3, 5, 77, 12, 87, 24, 4, 8, 43, 78, 78, 57, 432, 235, 7]
[1, 'banana', 'apple', 65, 'carraot']
10
23
5

In [45]:
print(numbers.count(78))
print(numbers.count(4))
print(numbers.count(0))

3
2
0

In [46]:
languages.index("Java")

1

In [50]:
print("Before Sorting:",languages)
languages.sort()
print("After Sorting:",languages)

Before Sorting: ['C', 'C++', 'Go', 'Java', 'JavaScript', 'Kotlin', 'PHP', 'Python', 'Ruby', 'Swift']
After Sorting: ['C', 'C++', 'Go', 'Java', 'JavaScript', 'Kotlin', 'PHP', 'Python', 'Ruby', 'Swift']

In [44]:
numbers.sort()
print(numbers)

[1, 2, 3, 3, 4, 4, 5, 5, 7, 8, 9, 12, 24, 43, 57, 65, 77, 78, 78, 78, 87, 235, 432]

In [47]:
numbers.reverse()
print(numbers)

[432, 235, 87, 78, 78, 78, 77, 65, 57, 43, 24, 12, 9, 8, 7, 5, 5, 4, 4, 3, 3, 2, 1]