In [22]:
x=[]#Empty
x=list()#empty
print(type(x),x)
y=[1,2,3,4,5]# Direct Initialization
print(y)
fruits=[]
fruits.append('Apple')
fruits.append('Banana')
fruits.append('Mango')
print(fruits)
x=[1,2,3]
y=[4,5,6]
z=x+y #Concatinate list
print(z)
#list of Duplicates
a=[1]*10
print(a)
b=[1,2]*5
print(b)
c=a*2
print(a)
print(c)
#Displaying
print(a)
#displaying Single item at a time
for item in a:
    print(item,end="")
#single element using index
print(fruits[0])
print(fruits[1],fruits[2])

<class 'list'> []
[1, 2, 3, 4, 5]
['Apple', 'Banana', 'Mango']
[1, 2, 3, 4, 5, 6]
[1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
[1, 2, 1, 2, 1, 2, 1, 2, 1, 2]
[1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
[1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
1111111111Apple
Banana Mango

In [25]:
students=["Bhargav","Sameer","Yaswanth","Vamsi","Ram","Ajay","Balaji","Abhi","Ruhi","Varsha","Sumithra","Jyoshna","Meghana","Anjali","Sirisha","Sahiti","Geetha"]
print(students)
print(students[9])
students.append("Sampath")
print(students)
students.pop(4)
print(students)

['Bhargav', 'Sameer', 'Yaswanth', 'Vamsi', 'Ram', 'Ajay', 'Balaji', 'Abhi', 'Ruhi', 'Varsha', 'Sumithra', 'Jyoshna', 'Meghana', 'Anjali', 'Sirisha', 'Sahiti', 'Geetha']
Varsha
['Bhargav', 'Sameer', 'Yaswanth', 'Vamsi', 'Ram', 'Ajay', 'Balaji', 'Abhi', 'Ruhi', 'Varsha', 'Sumithra', 'Jyoshna', 'Meghana', 'Anjali', 'Sirisha', 'Sahiti', 'Geetha', 'Sampath']
['Bhargav', 'Sameer', 'Yaswanth', 'Vamsi', 'Ajay', 'Balaji', 'Abhi', 'Ruhi', 'Varsha', 'Sumithra', 'Jyoshna', 'Meghana', 'Anjali', 'Sirisha', 'Sahiti', 'Geetha', 'Sampath']

Append-> By this mmethod we can add item in the end of the list.
         At the time we can add only one item.
         It is not work without list.

In [2]:
books=[]
books.append("The Way of Kings")
print(books)    
books.append("The Name of the Wind")
books.append("The Final Empire")
books.append("The Hero of Ages")
books.append("The Well of Ascension")   
print(books)

['The Way of Kings']
['The Way of Kings', 'The Name of the Wind', 'The Final Empire', 'The Hero of Ages', 'The Well of Ascension']

Extend()-> Extend method is used to add more than one item to the list
        -> We can combine two different Lists

In [6]:
colors=["Red","Green","Blue","Yellow"]
colors.extend(["Black","White"])
print(colors)
colors1=["Cyan","Magenta","Pink"]
colors.extend(colors1)
print(colors)

['Red', 'Green', 'Blue', 'Yellow', 'Black', 'White']
['Red', 'Green', 'Blue', 'Yellow', 'Black', 'White', 'Cyan', 'Magenta', 'Pink']

In [7]:
a=[]
for i in range(1,11):
    a.append(i)
print(a)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [11]:
movies=[]
for i in range(6):
    movie=input("Enter the movie name:")
    movies.append(movie)
print(movies)

['eer', 'rre', 'fds', 'fds', 'ffd', 'gcf']

Insert()-> Insert function is used to insert a item whereever we want by index value 
syntax->x.insert(0,1)
x-> list name

In [16]:
x=[1,5,10]
x.insert(0,6)
print(x)

[6, 1, 5, 10]

Adding Elements
-------------------
append()->add one element to the end of the list
insert()->add one element to a specific position
extend()->append multiple items in a list

removing Elements
-----------------
pop()->remove and return an element from an index

remove()->remove the first occurance value

clear()->remove all elements from the list

In [2]:
x=[1,5,10]
x.remove(5)
print(x)

[1, 10]

In [3]:
x=[1,5,10]
x.pop(0)
print(x)

[5, 10]

In [4]:
x=[1,5,10]
x.clear()
print(x)

[]

In [6]:
x=[1,5,10,2,3,6,1,8]
x.sort()
print(x)

[1, 1, 2, 3, 5, 6, 8, 10]

In [18]:
books=[" Way of Kings"," Name of the Wind"," Final Empire"," Hero of Ages","Well of Ascension",
       "wind and truth","King of thrones","Game of thrones","House of the Dragon","OathBringer"]
print('How many Books In the list :',len(books))

books.remove("Game of thrones")
print(books)

How many Books In the list : 10
[' Way of Kings', ' Name of the Wind', ' Final Empire', ' Hero of Ages', 'Well of Ascension', 'wind and truth', 'King of thrones', 'House of the Dragon', 'OathBringer']

In [21]:
if "Name of the Wind" in books:
    books.remove("Name of the Wind")
print(books)

[' Way of Kings', ' Name of the Wind', ' Final Empire', ' Hero of Ages', 'Well of Ascension', 'wind and truth', 'King of thrones', 'House of the Dragon', 'OathBringer']

In [22]:
print(books)

[' Way of Kings', ' Name of the Wind', ' Final Empire', ' Hero of Ages', 'Well of Ascension', 'wind and truth', 'King of thrones', 'House of the Dragon', 'OathBringer']

In [26]:
books.pop(2)

' Hero of Ages'

In [28]:
books.pop()

'OathBringer'

In [29]:
print(len(books))

6

In [38]:
languages=["Python","Java","C","C++","JavaScript","Ruby","Go","Swift","Kotlin","PHP"]
numbers=[1,4,2,3,5,78,9,65,3,5,77,12,87,24,4,8,43,78,78,57,432,235,7]
data=[1,"banana",'apple',65,"carraot"]

print(languages)
print(numbers)
print(data)
print(len(languages))
print(len(numbers))
print(len(data))
#print(numbers.count(78))

['Python', 'Java', 'C', 'C++', 'JavaScript', 'Ruby', 'Go', 'Swift', 'Kotlin', 'PHP']
[1, 4, 2, 3, 5, 78, 9, 65, 3, 5, 77, 12, 87, 24, 4, 8, 43, 78, 78, 57, 432, 235, 7]
[1, 'banana', 'apple', 65, 'carraot']
10
23
5

In [45]:
print(numbers.count(78))
print(numbers.count(4))
print(numbers.count(0))

3
2
0

In [46]:
languages.index("Java")

1

In [50]:
print("Before Sorting:",languages)
languages.sort()
print("After Sorting:",languages)

Before Sorting: ['C', 'C++', 'Go', 'Java', 'JavaScript', 'Kotlin', 'PHP', 'Python', 'Ruby', 'Swift']
After Sorting: ['C', 'C++', 'Go', 'Java', 'JavaScript', 'Kotlin', 'PHP', 'Python', 'Ruby', 'Swift']

In [44]:
numbers.sort()
print(numbers)

[1, 2, 3, 3, 4, 4, 5, 5, 7, 8, 9, 12, 24, 43, 57, 65, 77, 78, 78, 78, 87, 235, 432]

In [47]:
numbers.reverse()
print(numbers)

[432, 235, 87, 78, 78, 78, 77, 65, 57, 43, 24, 12, 9, 8, 7, 5, 5, 4, 4, 3, 3, 2, 1]

In [2]:
fruits=["Apple","Mango","Jack Fruit"]
series=["Game of Thrones","Mirzapur"]
veggies=["Tomato","Potato","Pomato"]

items=fruits+series+veggies
print(items)

['Apple', 'Mango', 'Jack Fruit', 'Game of Thrones', 'Mirzapur', 'Tomato', 'Potato', 'Pomato']

Nested List

list within list

In [3]:
x=[]
x2=[[]]
print(x)
print(x2)

[]
[[]]

In [4]:
x.append(1)
x.append(2)
x.append(3)
print(x)

[1, 2, 3]

In [22]:
x2.append(1)
x2.append([1,2,3])
x2.append([4,5,6])
print(x2)

[[], 1, 1, [1, 2, 3], [4, 5, 6], 1, [1, 2, 3], [4, 5, 6]]

In [27]:
print(x2)

[[], 1, [1, 2, 3], [4, 5, 6]]

In [34]:
items=[['red','green','blue'],
       ['Apple','Banana','mango'],
       [1,2,3]
       ]
print(items)
print("Size of the list",len(items))
print ("Size of the list at index 0", "Length->",len(items[0]),"=>",items[0])
print ("Size of the list at index 1","Length->",len(items[1]),"=>",items[1])
print ("Size of the list at index 2","Length->",len(items[2]),"=>",items[2])
print("Element 0 as list 0 is:", items[0][0])
print("Element 2 as list 0 is:", items[0][2])
print("Element 0 as list 1 is:", items[1][0])
print("Element 1 as list 1 is:", items[1][1])
print("Element 3 as list 2 is:", items[2][2])

[['red', 'green', 'blue'], ['Apple', 'Banana', 'mango'], [1, 2, 3]]
Size of the list 3
Size of the list at index 0 Length-> 3 => ['red', 'green', 'blue']
Size of the list at index 1 Length-> 3 => ['Apple', 'Banana', 'mango']
Size of the list at index 2 Length-> 3 => [1, 2, 3]
Element 0 as list 0 is: red
Element 2 as list 0 is: blue
Element 0 as list 1 is: Apple
Element 1 as list 1 is: Banana
Element 3 as list 2 is: 3

In [37]:
matrix=[[12,23,45,25],
         [85,95,105,115],
         [30,32,63,9]]
print(matrix)

[[12, 23, 45, 25], [85, 95, 105, 115], [30, 32, 63, 9]]

In [43]:
print(matrix[0][2])
print(matrix[1][2])
print(matrix[2][2])
print(matrix[2][3])

45
105
63
9

In [57]:
for i in matrix:
    for j in i:
        print(j)

12
23
45
25
85
95
105
115
30
32
63
9

In [47]:
for j in matrix:
    for value in j:
        print(j ,end='')

[12, 23, 45, 25][12, 23, 45, 25][12, 23, 45, 25][12, 23, 45, 25][85, 95, 105, 115][85, 95, 105, 115][85, 95, 105, 115][85, 95, 105, 115][30, 32, 63, 9][30, 32, 63, 9][30, 32, 63, 9][30, 32, 63, 9]

In [48]:
for row in matrix:
    for val in row:
        print(val,end='')
    print()

12234525
8595105115
3032639

In [49]:
# WaP to print the sum of all the values in matrix

total=0
for i in matrix:
    for j in i:
        total += j
print(total)

639

In [52]:
#wap to print the product of all the values in matrix
total=1
for i in matrix:
    for j in i:
        total *= j
print(total)

16479558288900000000

In [59]:
#Wap to print row wise sum of matrix

for i in matrix:
    total=0
    for j in i:
        total +=j
    print(i,'=>',total)

[12, 23, 45, 25] => 105
[85, 95, 105, 115] => 400
[30, 32, 63, 9] => 134

In [83]:
# wap to print row wise avg of the values
for i in matrix:
    total=0
    for j in i:
        total +=j
    
    avg=total/4
    print(i,'=>','Total','=>',total,'Avg=>',avg)

[12, 23, 45, 25] => Total => 105 Avg=> 26.25
[85, 95, 105, 115] => Total => 400 Avg=> 100.0
[30, 32, 63, 9] => Total => 134 Avg=> 33.5

In [85]:
# wap to print row wise avg of the values
for i in matrix:
    total=0
    for j in i:
        total +=j
        avg=round(total/len(i),1)
    print(i,'=>','Total','=>',total,'Avg=>',avg)

[12, 23, 45, 25] => Total => 105 Avg=> 26.2
[85, 95, 105, 115] => Total => 400 Avg=> 100.0
[30, 32, 63, 9] => Total => 134 Avg=> 33.5

In [ ]:
#wap to print column wise avg of the values
size=len(matrix[0])
for i in range(size):
    total=0
    for j in range(len(matrix)):
        total += matrix[j][i]
       
    print("The sum of column wise =>",total)

The sum of column wise => 127
The sum of column wise => 150
The sum of column wise => 213
The sum of column wise => 149

In [95]:
size=len(matrix[0])
for i in range(size):
    total=0
    for j in range(len(matrix)):
        total += matrix[j][i]
        avg=total/size
    print("The sum of column wise =>",total,'The avg of column:',avg)

The sum of column wise => 127 The avg of column: 31.75
The sum of column wise => 150 The avg of column: 37.5
The sum of column wise => 213 The avg of column: 53.25
The sum of column wise => 149 The avg of column: 37.25

In [104]:
# wap to print lower bound triangle of a matrix

mat2=[[1,2,3,4],
      [5,6,7,8],
      [9,10,11,12],
      [13,14,15,16]
      ]
for i in range(len(mat2)):
    for j in range(len(mat2[0])):
        if (j<=i):
            print(mat2[i][j], end=' ')
    print()

1
5 6
9 10 11
13 14 15 16