In [2]:
name = input("Enter your name: ")
print("Hello,", name)
city = input("Enter your city: ")
print("You are from", city)
age = int(input("Enter your age: "))
print("You are", age, "years old.")
rate = float(input("Enter your rate: "))
print("Your rate is", rate)

Hello, Sampath
You are from Kadiri
You are 21 years old.
Your rate is 9.0

In [3]:
print("Welcome to Python!")
print("Sum:", 5 + 3)
print("Hello", "World", "!")
name = "Alice"
print("Name:", name)
name, age, city = "Alice", 22, "New York"
print("Name:", name, "Age:", age, "City:", city)

Welcome to Python!
Sum: 8
Hello World !
Name: Alice
Name: Alice Age: 22 City: New York

In [4]:
name = "Alice"
age = 22
print(f"{name} is {age} years old.")

Alice is 22 years old.

In [5]:
print("{} scored {} marks.".format("Bob", 95))
print("{1} is {0} years old.".format(30, "Charlie"))

Bob scored 95 marks.
Charlie is 30 years old.

In [6]:
x = 10
print(type(x))  # <class 'int'>

<class 'int'>

In [7]:
y = 3.5
print(type(y))  # <class 'float'>

<class 'float'>

In [8]:
z = 1 + 2j
print(type(z))  # <class 'complex'>

<class 'complex'>

In [9]:
n = None
print(type(n))  # <class 'NoneType'>

<class 'NoneType'>

In [10]:
s = "Python"
print(type(s))  # <class 'str'>

<class 'str'>

In [11]:
flag = True
print(type(flag))  # <class 'bool'>

<class 'bool'>

In [12]:
fruits = ["apple", "banana", "cherry"]
print(type(fruits))  # <class 'list'>

<class 'list'>

In [13]:
point = (3, 5)
print(type(point))  # <class 'tuple'>

<class 'tuple'>

In [14]:
fruits = {"apple", "banana", "cherry"}
print(type(fruits))  # <class 'set'>

<class 'set'>

In [15]:
student = {"name": "Alice", "age": 22}
print(type(student))  # <class 'dict'>

<class 'dict'>

In [16]:
b = b"Hello"
print(type(b))  # <class 'bytes'>

<class 'bytes'>