In [9]:
for i in range(2,25,2):
    print(i)

2
4
6
8
10
12
14
16
18
20
22
24

In [13]:
for i in range(40):
    if i%2==0:
        print("even number",i)
    else:
        print("Odd number",i)

even number 0
Odd number 1
even number 2
Odd number 3
even number 4
Odd number 5
even number 6
Odd number 7
even number 8
Odd number 9
even number 10
Odd number 11
even number 12
Odd number 13
even number 14
Odd number 15
even number 16
Odd number 17
even number 18
Odd number 19
even number 20
Odd number 21
even number 22
Odd number 23
even number 24
Odd number 25
even number 26
Odd number 27
even number 28
Odd number 29
even number 30
Odd number 31
even number 32
Odd number 33
even number 34
Odd number 35
even number 36
Odd number 37
even number 38
Odd number 39

In [14]:
for _ in range(5):
    print("1")

1
1
1
1
1

In [38]:
#size=10
for i in range(1,11):
        print(f'12 X {i} ={12*i}')

12 X 1 =12
12 X 2 =24
12 X 3 =36
12 X 4 =48
12 X 5 =60
12 X 6 =72
12 X 7 =84
12 X 8 =96
12 X 9 =108
12 X 10 =120

In [23]:
for i in range(15):
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14

In [25]:
for i in range(1,70):
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69

In [26]:
for i in range(10,60):
    print(i)

10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59

In [29]:
X= int(input("Enter Starting Number:"))
Y= int(input("Enter Stop Number:"))

for i in range(X,Y):
    print(i)

12
13
14
15
16
17
18
19

In [15]:
for i in range(1,101,2):
    print(i,end=",")

1,3,5,7,9,11,13,15,17,19,21,23,25,27,29,31,33,35,37,39,41,43,45,47,49,51,53,55,57,59,61,63,65,67,69,71,73,75,77,79,81,83,85,87,89,91,93,95,97,99,

In [9]:
for i in range(100,201,5):
    print(i,end=",")

100,105,110,115,120,125,130,135,140,145,150,155,160,165,170,175,180,185,190,195,200,

In [10]:
colors=["Red","Blue","Green"]
print(colors)

['Red', 'Blue', 'Green']

In [ ]:
colors={"Red","Blue","Green"}

for color in colors:
    print(color)

Red
Blue
Green

In [ ]:
Movies=["Jinna","Pedharayudu","Kannappa","Jarumetaya","S/O India"]
for Cinemas in Movies:
    print(Cinemas)

Ginna
Pedharayudu
Kannappa
Jarumetaya
S/O India

In [8]:
a=0
for i in range(10,21):
    a= a+i
print(a)

165

In [13]:
a=1
for i in range(10,21):
    a=a*i
print(a)

6704425728000

In [21]:
a=0
for i in range(10,12):
    a=a+i
print(a)

avg= a/2
print(avg)

21
10.5

In [22]:
a=[1,2,3,4,5,34,5,6,7,8]
b=max(a)
print(b)

34

In [30]:
nums=[1,2,4,5,6,24,7,89,4,2,89]
max=0
for num in nums:
    if num>max:
        max=num
print(max)

89

In [2]:
a=0
nums=[25,26,27,28,29,30,31,32,33,34,35.36,37,38,39,40,41,42,43,44,45,46,47,48,49,50]
for num in nums:
    if num%3==0:
       a=a+1
       print(num)
print(f'The Total count of Divisible by 3 are: {a}')

27
30
33
39
42
45
48
The Total count of Divisible by 3 are: 7

In [8]:
movies = ["harry potter 1","harry potter 2","harry potter 3","harry potter 4","harry potter 5","harry potter 6","harry potter 7","harry potter 8","fast and furious 1","fast and furious 2","fast and furious 3","fast and furious 4"]
movies_with_h = 0
for movie in movies:
    if movies.startswith("H") or movie.startswith("h"):
      movies_with_h += 1
print("count",movies_with_h)

AttributeError: 'list' object has no attribute 'startswith'

In [4]:
movies = ["harry potter 1", "harry potter 2", "harry potter 3", "harry potter 4",
          "harry potter 5", "harry potter 6", "harry potter 7", "harry potter 8",
          "fast and furious 1", "fast and furious 2", "fast and furious 3", "fast and furious 4"]

movies_with_h = 0
for movie in movies:
    if movie.lower().startswith("h"):
        movies_with_h += 1

print("count:", movies_with_h)

count: 8

In [10]:
num = 10 
fact = 1
for i in range(num,0,-1):
    print(f'{i} * {fact}')
    fact = fact * 1
    print (fact)

10 * 1
1
9 * 1
1
8 * 1
1
7 * 1
1
6 * 1
1
5 * 1
1
4 * 1
1
3 * 1
1
2 * 1
1
1 * 1
1

In [11]:
for i in range(1,11):
    for j in range(1,6):
        print(f'i = {i}, j= {j}')

i = 1, j= 1
i = 1, j= 2
i = 1, j= 3
i = 1, j= 4
i = 1, j= 5
i = 2, j= 1
i = 2, j= 2
i = 2, j= 3
i = 2, j= 4
i = 2, j= 5
i = 3, j= 1
i = 3, j= 2
i = 3, j= 3
i = 3, j= 4
i = 3, j= 5
i = 4, j= 1
i = 4, j= 2
i = 4, j= 3
i = 4, j= 4
i = 4, j= 5
i = 5, j= 1
i = 5, j= 2
i = 5, j= 3
i = 5, j= 4
i = 5, j= 5
i = 6, j= 1
i = 6, j= 2
i = 6, j= 3
i = 6, j= 4
i = 6, j= 5
i = 7, j= 1
i = 7, j= 2
i = 7, j= 3
i = 7, j= 4
i = 7, j= 5
i = 8, j= 1
i = 8, j= 2
i = 8, j= 3
i = 8, j= 4
i = 8, j= 5
i = 9, j= 1
i = 9, j= 2
i = 9, j= 3
i = 9, j= 4
i = 9, j= 5
i = 10, j= 1
i = 10, j= 2
i = 10, j= 3
i = 10, j= 4
i = 10, j= 5

In [14]:
n=6
for i in range(1,n):
    for j in range(1,n):
        print(j,end='')
    print()

12345
12345
12345
12345
12345

In [24]:
n=6
for i in range(0,n):
    for j in range(1,n):
        print(i, end='')
    print()

00000
11111
22222
33333
44444
55555

In [3]:
for i in range(1,25):
    if i%3==0:
        continue
    print(i,end=',')

1,2,4,5,7,8,10,11,13,14,16,17,19,20,22,23,

In [4]:
data=[1,2,3,5,2,0,5,8,3,7,0,1,1,5,78]
for i in data:
    if i==0:
        continue
    print(i,end='')

12352583711578

In [5]:
for i in range(1,13):
    if i ==8:
        break
    print(i,end='')

1234567

In [16]:
total=0
print("Enter 0 to Stop the loop")
value=int(input("Enter Value:"))
for i in range(100):
    
    if value==0:
        break
    total+=value
print(total)

Enter 0 to Stop the loop
600

In [2]:
nums=[2,5,8,11,15]
for n in nums:
    print(n)
print("Loop Completed")

2
5
8
11
15
Loop Completed

In [ ]:
nums=[2,5,8,11,15]
for n in nums:
    if n>10:
        break
    print(n)
print("loop completed")

2
5
8
10
loop completed

In [19]:
value=int(input("Enter Break Point"))
nums=[1,2,3,4,5,6,11,15,20,25]
for n in nums:
    if value>n:
        print("Loop broken")
        break
else:
    print("Loop Completed")

Loop Completed

In [32]:
num=int(input("Enter A number"))
for n in range(2,n):
    if num%n==0:
        print(f'{num} It is not A Prime number')
        break

In [45]:
num=int(input("Enter A number"))
for n in range(2,num):
    if num%n==0:
        print(f'{num} It is not A Prime number')
        break
else:
    print(f'{num} It Is a Prime Number ')

7 It Is a Prime Number

In [47]:
x=50
while x>0:
    print(x)
    x-=5

50
45
40
35
30
25
20
15
10
5